.App {
  display: flex;
  justify-content: center;
}

.error {
  color: rgba(255, 113, 113, 1);
  font-size: 14px;
}

/* @media screen and (min-width: 360px) {
  display: block;
  background-color: red;
} */

a {
  text-decoration: none;
}
.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 789px;
  width: 460px;
  background-color: rgba(255, 255, 255, 1);
  border: 5px solid rgba(135, 143, 153, 0.23);
  border-radius: 24px;
}

.formContent {
  align-self: center;
}

.head {
  margin-left: 30px;
}

.checkboxField {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: start;
  margin-left: 30px;
}

.checkboxField .error {
  width: 100%;
}

.checkboxField a {
  padding: 0 5px;
}
input[type='checkbox'] {
  width: 28px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}

label {
  color: rgba(117, 111, 134, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin-left: 5px;
}

.inputField {
  height: 52px;
  width: 400px;
  border: 1px solid rgba(135, 143, 153, 0.23);
  border-radius: 6px;
  text-indent: 15px;
}

select {
  height: 52px;
  width: 400px;
  background: #ffffff;
  border: 2px solid #0880ae;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
}
option:first-child {
  display: none;
}

::placeholder {
  color: rgba(124, 156, 191, 1);
}

button {
  align-self: center;
  width: 408px;
  height: 56px;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08),
    0px 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 6px;
  background-color: rgba(8, 128, 174, 1);
  color: rgba(235, 244, 248, 1);
  border: none;
}

/* inactive */
button:disabled,
button[disabled] {
  align-self: center;
  width: 408px;
  height: 56px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08),
    0px 4px 8px rgba(44, 39, 56, 0.08);
  background: rgba(219, 226, 234, 1);
  color: rgba(177, 181, 191, 1);
  border: none;
}
